<div
  class="my-5 my-md-0 mt-md-4 animate__animated animate__fadeIn animate__faster"
>
  <h3 class="animate__animated animate__headShake">By country</h3>
  <hr />

  <div class="row">
    <div class="col">
      <app-pais-input
        (sendInput)="buscar($event)"
        (eventDebounce)="sugerencias($event)"
        placeholder="Search by country"
      ></app-pais-input>
    </div>
  </div>

  <ul *ngIf="mostrarSugerencias" class="list-group">
    <li
      *ngFor="let pais of paisesSugeridos"
      class="list-group-item list-group-item-action"
    >
      <a class="nav-link" [routerLink]="['/pais', pais.alpha2Code]">
        {{ pais.name }}
      </a>
    </li>
    <li
      class="list-group-item list-group-item-action"
      (click)="buscar(termino)"
    >
      <a class="nav-link"> Search "{{ termino }}" </a>
    </li>
  </ul>

  <hr />
</div>

<div *ngIf="existError" class="alert alert-danger">
  Term "{{ termino }}" not found
</div>

<div *ngIf="paises.length" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
