<div class="overlay" *ngIf="isLoading$ | async">
  <div class="loadingio-spinner-magnify-vl0atfvia7">
    <div class="ldio-9dti3tmglgd">
      <div>
        <div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
