@import 'var';

.header-logo {
  display: flex;
  justify-content: center;
  padding: 0.7rem 0;
  margin: 0 auto;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
}

.logo {
  width: 200px;
}

.container-main {
  min-height: calc(100vh - 81px - 96px);
}

footer {
  background-color: #022127;
  width: 100%;
  color: $white;
  text-align: center;
  padding: 1.5rem 0;
}
