<header class="header-logo">
  <img class="logo" src="assets/img/logo.png" alt="Logo app" />
</header>
<div class="container container-main mt-4">
  <div class="row">
    <div class="col-12 col-md-3">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-12 col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <p>
      This project was realized by <strong>Andrea Morales</strong> &copy; 2021
    </p>
  </div>
</footer>
