<h3 class="text-secondary mt-4">Search by...</h3>
<hr />
<ul class="list-group">
  <li
    class="list-group-item"
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Country
  </li>
  <li class="list-group-item" routerLink="region" routerLinkActive="active">
    Region
  </li>
  <li class="list-group-item" routerLink="capital" routerLinkActive="active">
    Capital
  </li>
</ul>
