li {
  cursor: pointer;
}
.list-group {
  flex-direction: row;
}
.list-group-item {
  border-radius: 0.25rem 0 0 0.25rem;
  flex-grow: 1;
  text-align: center;
}
.list-group-item + .list-group-item {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 0;
  border-radius: 0;
}
.list-group-item:last-of-type {
  border-radius: 0 0.25rem 0.25rem 0 !important;
}

@media (min-width: 768px) {
  .list-group {
    flex-direction: column;
  }
  .list-group-item {
    text-align: left;
    border-radius: 0.25rem 0.25rem 0 0;
  }
  .list-group-item + .list-group-item {
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 0;
  }
  .list-group-item:last-of-type {
    border-radius: 0 0 0.25rem 0.25rem !important;
  }
}
