<div class="table-responsive mb-5 mt-md-4">
  <table
    class="table table-hover animate__animated animate__fadeIn animate__faster"
  >
    <thead>
      <tr>
        <th>#</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Population</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pais of paises; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <img [src]="pais.flag" [alt]="pais.name" class="small-flag" />
        </td>
        <td>{{ pais.capital }}, {{ pais.name }}</td>
        <td>{{ pais.population | number }}</td>
        <td><a [routerLink]="['/pais/', pais.alpha2Code]">See more...</a></td>
      </tr>
    </tbody>
  </table>
</div>
