<div *ngIf="!pais; else divPais" class="alert alert-info">Please wait....</div>

<ng-template #divPais>
  <div
    class="
      my-5 my-md-0
      mt-md-4
      animate__animated animate__fadeIn animate__faster
    "
  >
    <div class="row">
      <div class="col-12">
        <h3 class="text-secondary">
          Country: <span> {{ pais.name }} </span>
        </h3>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-3 col-md-4">
        <img [src]="pais.flag" [alt]="pais.name" class="img-thumbnail" />
      </div>
      <div class="col-9 col-md-8">
        <div class="card">
          <div class="card-header bg-primary">
            <h3><strong>Country: </strong> {{ pais.name }}</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Capital: </strong>{{ pais.capital }}
            </li>
            <li class="list-group-item">
              <strong>Region: </strong>{{ pais.region }}
            </li>
            <li class="list-group-item">
              <strong>Language(s): </strong>
              <p *ngIf="pais.languages.length === 1; else listLanguages">
                {{ pais.languages[0].name }}
              </p>
            </li>
            <ng-template #listLanguages>
              <div class="list-group list-languages">
                <li *ngFor="let languages of pais.languages; let i = index">
                  {{ i + 1 }}. {{ languages.name }}
                </li>
              </div>
            </ng-template>

            <li class="list-group-item">
              <strong>Population: </strong>{{ pais.population | number }} hab
            </li>
            <li class="list-group-item">
              <strong>Area: </strong> {{ pais.area | number }} Km<sup>2</sup>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <h4 class="text-secondary mb-4">Translations:</h4>
        <span
          *ngFor="let translation of pais.translations | keyvalue"
          class="badge bg-outline-badge m-1"
          >{{ translation.key }}: <span> {{ translation.value }} </span></span
        >
      </div>
    </div>
  </div>
</ng-template>
