@import 'var';

.list-group-item {
  p {
    display: inline-block;
  }
}
.list-languages {
  margin: 0.5rem 0 0 1.5rem;
  li {
    list-style: none;
  }
}
.bg-primary {
  background-color: $primary !important;
  color: $white;
}
.bg-outline-badge {
  border: 2px solid $primary;
  background-color: $white;
  color: #000;
  font-size: 16px;
  span {
    font-weight: 400;
  }
}
