<div
  class="my-5 my-md-0 mt-md-4 animate__animated animate__fadeIn animate__faster"
>
  <h3 class="animate__animated animate__headShake">By region</h3>
  <hr />

  <h4 class="text-secondary my-4">
    Select a region: <span>{{ regionActiva | titlecase }}</span>
  </h4>

  <div class="row">
    <div class="col">
      <button
        *ngFor="let region of regiones"
        class="btn m-1"
        [class]="getClaseCSS(region)"
        (click)="activarRegion(region)"
      >
        {{ region }}
      </button>
    </div>
  </div>

  <hr />
</div>

<div *ngIf="paises.length" class="row mt-5">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>

<app-spinner></app-spinner>
