/* You can add global styles to this file, and also import other style files */
@import 'var';

h3,
h2,
p {
  margin-bottom: 0;
}

/* overwrite styles bootstrap */
a {
  color: $primary !important;
  &:hover {
    color: #157588 !important;
  }
}

.list-group-item.active {
  background-color: $primary !important;
  border-color: $primary !important;
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary;
  color: $white !important;
}

.btn-outline-primary {
  border-color: $primary !important;
  color: $primary !important;
  &:hover {
    background-color: $primary !important;
    color: $white !important;
  }
}

.btn-primary:focus,
.btn-outline-primary:focus,
.form-control:focus {
  box-shadow: 0 0 0 0.15rem rgb(54 168 191 / 55%);
  border-color: $primary;
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: $primary;
}

.btn-check:active + .btn-outline-primary:focus,
.btn-check:checked + .btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.2rem rgb(54 168 191 / 55%);
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(54 168 191 / 55%);
}
.text-primary {
  color: $primary !important;
}

/* custom styles */
.text-secondary {
  span {
    color: $black;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(87 109 113 / 62%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
